@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	background-color: #f0f2f5;
}

.btn:focus {
	outline: none;
	box-shadow: none;
  }

  .btn{
	box-shadow: none !important
}

.custom-nav {
	background-color: #ffffff !important;
	color: #0d6efd !important;
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.152);
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.custom-nav .navbar-brand {
	color: #0d6efd !important;
	text-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.152);
}

.custom-nav a {
	color: #36261f !important;
	font-weight: 600;
}

.custom-nav .nav-link {
	padding: 20px !important;
}

.custom-nav .nav-link:hover {
	color: #ffffff !important;
	background-color: #0d6efd !important;
}

.custom-nav .nav-link.active {
	color: #0d6efd !important;
}

.custom-nav .nav-link.active:hover {
	color: #000000 !important;
	background-color: #e2eeff !important;
}

.custom-nav .dropdown-menu {
	margin-top: -1px;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #0d6efd;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
}

.custom-nav .dropdown-menu .dropdown-item {
	color: #fff !important;
}

.custom-nav .dropdown-menu .dropdown-item:hover {
	background-color: #0d6efd !important;
}

.custom-nav .dropdown-menu:hover,
.custom-nav .dropdown-menu:focus {
	background-color: #ffffff;
}

.custom-nav .dropdown-menu:hover .dropdown-item,
.custom-nav .dropdown-menu:focus.dropdown-item {
	color: #000000 !important;
}

.custom-nav .dropdown-menu:hover .dropdown-item:hover,
.custom-nav .dropdown-menu:focus.dropdown-item:hover {
	color: #ffffff !important;
}

.custom-nav .dropdown-divider {
	margin: 0;
}

.custom-nav .dropdown-menu .dropdown-item.active {
	color: #0d6efd !important;
	background-color: #ffffff !important;
}

.custom-nav .dropdown-menu .dropdown-item.active:hover {
	color: #000000 !important;
	background-color: #e2eeff !important;
}

.custom-nav #brand-img {
	width: 40px;
	height: 40px;
}

.guide{
    border: 1px red solid;

}

.listcontainer{
    height: 500px;
    border: 1px solid gainsboro;

}

li:hover{
    background-color: lightblue;
}

.ButtonC{
    width:83px;
}

.Buttongrp{
    width: 83px;
}

.border{
    border: 0;
}

.cborder{
    border: 1px solid gainsboro;
}

.ssave{
    width: 100px;
}

.transparent{
    background-color: transparent;
    border: none;
}


.shadow{
    box-shadow: 0px 5px 10px #00000036;
}

.p1{
    font-family: "Courier New", monospace;
}
.btn-outline-danger{
	background-color: #f5d7d5;
}

.expand {
	width:100%;
}

.wh_cell {
	display: inline-block;
	border: 1px solid #bebfc2;
	width: 100%;
	height: 250px;
	padding: 10px;
}

.whc_header {
	height: 29%;
	width: 100%;
	color: #4269f5;
	display: flex;
	justify-content: space-between;
}

.whch_left {
	display: inline-block;
	width: 69%;
	height: 100%;
	color:black;
}

.whch_right {
	display: inline-block;
	width: 30%;
	height: 100%;
	text-align: right;
}

.whc_body {
	height: 70%;
	width: 100%;
}

.contents {
	width: 95%;
	margin: auto;
	height: 100%;
}

.sidebar {
	padding-top: 15px;
	background-color: #fff;
	border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
	border: 1px solid #0000002a;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
	width: 35%;
	height: fit-content;
	display: inline-block;
	
}
.data-contents {
	padding: 25px;
	background-color: #fff;
	border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
	border: 1px solid #0000002a;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
	width: 60%;
}

.data-specs {
	padding: 0 15px;
}

.divider {
	width: 4%;
}

.scrollbar {
	overflow-y: scroll;
	height: 100%;
}

.align-card {
  flex-direction: row;
}

.no-click {
  pointer-events: none;
  cursor: default !important;
}

.sidebar-card {
	border: none;
}

.sidebar-card .card-header{
	background-color: transparent;
	border: none;
}

.sidebar-card .card-body{
	border: none;
}

.sidebar-card .card-body .list-group-flush {
	padding: 0;
	margin:0;
}

.sidebar-card .card-body .list-group-flush .row{
	padding: 0;
	margin:0;
	--bs-gutter-x: 0 !important;
}

.fc-search {
	background-color: #f6f6f6;;
	color: #414141 !important;
	font-size: larger;
	font-weight: bold;
	border: none;
}

.fc-search::placeholder {
	color: #414141 !important;
}

.fc-search:focus {
	box-shadow: none;
	background-color: #fbfeff;
	border: none;
	border-radius: 0;
}

.sidebar-header .col-4,
.sidebar-header .col-8,
.sidebar-header .col-3,
.sidebar-header .col-6,
.sidebar-header .col-5,
.sidebar-header .col-7,
.sidebar-header .col-2 {
	background-color: #0d6efd;
	text-align: center;
	padding: 10px !important;
	font-weight:700;
	font-size:medium;
	color: #ffffff !important;
	border-right: 5px solid #ffffff !important;
}

.data-specs-add {
	width: 100%;
	margin: 0;
	padding: 0;
}

.data-specs-add .col-4 {
	background-color: #0d6efd;
	text-align: center;
	padding: 10px !important;
	font-weight:700;
	font-size:medium;
	color: #ffffff !important;
	border-right: 5px solid #fff;
}


.sidebar-contents {
	margin:0;
	color: #000000 !important;
}

.sidebar-contents .col-4,
.sidebar-contents .col-8,
.sidebar-contents .col-3,
.sidebar-contents .col-6,
.sidebar-contents .col-5,
.sidebar-contents .col-7,
.sidebar-contents .col-2 {
	background-color: #eff4f5;
	text-align: center;
	padding: 10px !important;
	box-sizing: border-box;
	border-right: 5px solid #ffffff !important;
}

.sidebar-card .card-body .list-group-flush .list-group-item {
	padding: 0;
	margin: 0;
}

.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-4,
.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-8,
.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-3,
.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-6,
.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-5,
.sidebar-card .card-body .list-group-flush .list-group-item .sidebar-contents .col-2 {
	background-color: #f6f6f6;
	word-wrap: normal;
}

.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-4,
.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-8,
.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-3,
.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-5,
.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-6,
.sidebar-card .card-body .list-group-flush .list-group-item.active .sidebar-contents .col-2 {
	background-color: #e7fff1;
	color: #145c37 !important;
	font-weight: 700;
	word-wrap: normal;
}

.add {
	background-color: #ffffff16 !important;
	color: #00954f !important;
	border: 2px solid #00954f !important;
}

.add:hover {
	background-color: #00954f !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

.add:focus {
	box-shadow: 0;
}

.edit {
	background-color: #ffffff16 !important;
	color: #4973ff !important;
	border: 2px solid #4973ff !important;
}

.edit:hover {
	background-color: #4973ff !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

.delete {
	background-color: #ffffff16 !important;
	color: #ff4949 !important;
	border: 2px solid #ff4949 !important;
}

.delete:hover {
	background-color: #ff4949 !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: rgba(0, 0, 0, 0.601);
	border-radius:5px;
    color: #ffffff;
    font-size: medium;
    position: absolute;
    padding: 10px;
    bottom: -3em;
	left: -100%;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.pull-down {
	vertical-align: bottom;
}
.data-label {
	padding: 4px 10px;
	border: 1px solid #00000036;
	width: 89%;
	display:inline-block;
	border-radius: 5px;
	height: 33px !important;
	background-color: #f3f5f9;
	color: #001637;
}

.data-label.sm {
	width: 84%
}

.data-label.lg {
	width: 70%
}

.data-label.md {
	width: 79%
}

.data-icon {
	width: 10%;
	display:inline-block;
	vertical-align: top;
	color: green;
}

.data-icon.sm {
	width: 15%;
}

.data-icon.md {
	width: 20%;
}

.data-icon.lg {
	width: 5%;
}

.data-img {
	border: 1px solid #0000005b;
	height: 125px;
}

.plain-button {
	padding: 0;
	border: 0;
	color:#000000 !important;
	background-color: #ffffff;
}

.bc-button:hover {
    background: green;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Tahoma", sans-serif;
	color: #fff;
	position: relative;
	box-shadow: 0 !important;
}

.bc-button.btn:focus {
	box-shadow: 0 !important;
	outline: none !important;
}

.bc-button:hover:before {
	/* ------- THIS IS THE MAGIC ----------------*/
    content: "<button>hi</button>";
    /* -------------------------WB-----------------*/
    display: block;
    position: absolute;
    top: 100%;
    left: -7px;
    right: -7px;
    padding: 15px; 
	width:250px;
}

.bc-button:hover:before:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
    height: 0;
    border: solid 10px transparent;
    border-bottom-color: #000;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    z-index: 2;
}

.records-table {
	width: 100%;
	border-color: #ffffff !important;
	border-collapse: separate;
}

.records-table .ic{
	width: 15%;
}

.records-table .ic:hover {
	background-color: #666666;
}

.records-table .ic button {
	border: 0;
	background: none;
}

.records-table .ic:hover button {
	color: #ffffff;
}

.records-table .qc{
	width: 15%;
}

.records-table .dc{
	width: 40%;
}
	
.records-table .pp{
	width: 20%;
	max-width: 20% !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}

.records-table .ext{
	width: 20%;
}

.records-table thead {
	border-bottom: 0;
}

.records-table .pth {
	background-color: #0d6efd !important;
	text-align: center;
	padding: 10px !important;
	font-weight:700;
	font-size:medium;
	color: #ffffff !important;
	border-width: 0 !important;
	border-color: #ffffff;
	border-width: 1px !important;
}

.records-table.light .pth {
	background-color: #b8dcff !important;
	color: #000000 !important;
}

.records-tab {
	padding-bottom:0;
}

.records-tab .nav-item a {
	font-size: 25pt;
	color: #afafaf;
}

.records-tab .nav-item a:hover {
	color: #0d6efd;
}

.records-tab .nav-item a.active {
	background-color: #ffffff;
	color: #000000;
	border-bottom: 1px solid #0d6efd;
	border-radius: 0;
	background: linear-gradient(0deg, rgba(242,247,255,1) 0%, rgba(255,255,255,1) 100%);
}

.data-id {
	color: #0d6efd;
	display: inline-block;
}

.left-curve {
	border-top-left-radius: 5px;
}

.right-curve {
	border-top-right-radius: 5px !important;
}

.left-full-curve {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.right-full-curve {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

hr {
	border-top: 1px solid #2a95ff;
}

.darkblue-icon {
	color: #8193a1;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

.folder-style {
	padding-top: 0;
}

.folder-style .nav-pills .nav-item {
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	border-right: 1px solid #0000002a;
	border-left: 1px solid #0000002a;
	border-top: 1px solid #0000002a;
	background-color: rgb(241, 241, 241);
	width: 125px;
	box-shadow: 0px -3px 5px #00000025;
	text-align: center;
	margin-right: 0.2em;
	z-index: 2;
}

.folder-style .nav-pills .nav-item .nav-link {
	color: #000;
}

.folder-style .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: rgb(255, 255, 255);
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	text-align: center;
	text-align: center;
	font-weight: bold;
}

.folder-style .tab-content {
	border: 1px solid #0000002a;
	position: relative;
	top: -2px;
	padding-top: 10px;
	box-shadow: 0px -3px 5px #00000025;
}

.header-subtitle {
	color: #767555;
}

.header-subtitle-strip {
	background-color: #fffcbd;
	display: inline-block;
	width: 100%;
	padding: 5px 0;
	border-radius: 10px;
}

.yellow-strip {
	background-color: #fffcbd;
	color: #767555;
}

.yellow-strip-divider {
	border-top: 1px solid #767555;
	margin-bottom: 0;
}

.module-title {
	background: rgb(242,247,255);
	background: linear-gradient(0deg, rgba(242,247,255,1) 0%, rgba(255,255,255,1) 100%);
}


.sidebar.horizontal {
	width: 100% !important;
	height: auto;
	padding: 10px !important;
}

.divider.horizontal {
	width: 100% !important;
	height: 25px;
}

.data-contents.horizontal {
	width: 100% !important;
	height: auto;
}

.hsidebar-segment {
	vertical-align: middle;
	box-sizing: border-box;
}

.hsidebar-segment.left {
	padding: 15px;
	display: inline-block;
	width: 35%;
	text-align: center;
}

.hsidebar-segment.left hr {
	margin: 0;
}

.hsidebar-segment.divider {
	display: inline-block;
	width: 2%;
}

.hsidebar-segment.right {
	display: inline-block;
	width: 62%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px #00000025;
}

.hsidebar-segment.right hr{
	border-top: 1px solid rgba(0, 0, 0, 0.155);
	margin: 3px 0;
}

.warehouse-list .list-group-horizontal {
	overflow: scroll;

}

.warehouse-list .list-group-item {
	min-width: 200px !important;
	max-width: 200px !important;
}

.warehouse-list .list-group-item-action {
	width: 200px;
	margin: 5px;
	border: 0;
	background-color: #ffffff;
}


.warehouse-list .list-group-item-action .warehouse-item-header .code,
.warehouse-list .list-group-item-action .warehouse-item-header .status,
.warehouse-list .list-group-item-action .warehouse-item-header .status-disabled {
	padding: .25rem .5rem;
	display: inline-block;
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-right: 1px solid #0000002a;
	border-left: 1px solid #0000002a;
	border-top: 1px solid #0000002a;
	background-color: rgb(241, 241, 241);
	text-align: center;
	margin-right: 0.2em;
	z-index: 2;
}

.warehouse-list .list-group-item-action .warehouse-item-name {

	border: 1px solid #0000002a !important;
	border-radius: 5px !important;
	border-top-left-radius: 0 !important;
	background-color: #fbfbfb;
	height: 100%;
	top: -1px;
	position: relative;
	padding-top: 10px;
	box-shadow: 0px 5px 5px #0000001b;
}

.warehouse-list .list-group-item-action.active .warehouse-item-name {
	background-color: #e7fff1;
	color: #145c37 !important;
	font-weight: 700;
	word-wrap: normal;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.2s;
}

.warehouse-list .list-group-item-action.active .warehouse-item-header .code,
.warehouse-list .list-group-item-action.active .warehouse-item-header .status {
	background-color: #aaedc6;
	color: #145c37 !important;
	font-weight: 700;
	word-wrap: normal;
	transition: background-color 0.5s, color 0.5s, box-shadow 0.2s;
}

.warehouse-list .list-group-item-action.active .warehouse-item-header .status-disabled {
	color: #8a8a8a !important;
}

.warehouse-title {
	padding: 15px;
	padding-top: 15px;
	background: rgba(242,247,255,1);
	color: rgb(0, 0, 0);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	border: 1px solid rgb(212, 223, 240);
}

.warehouse-list {
	padding: 5px 15px 0 15px;
	margin-bottom: 20px;
	width: 100%;
	height: 100%;
}

.warehouse-info {
	display: inline-block;
	padding: 0.3em 2em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	border: 1px solid #0000002a;
	border-bottom: none;
	background-color: #00000004;
	position: relative;
	top: -0;
	z-index: 999;
}

.warehouse-info h3 {
	color: #0d6efd;
}

.warehouse-item-name {
	padding: .5rem 1rem;
	box-sizing: border-box;
}

.warehouse-item-header {
	width: auto;
	box-sizing: border-box;
	padding: 0;
}

.warehouse-notes {
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 3px 10px;
	border: 1px solid #0000002a !important;
	width: 100%;
}

.warehouse-map {
	border: 1px solid rgba(0, 0, 0, 0.227);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 2em;
	border-top: none;
}

.user-management-tab {
	padding-bottom: 0;
}

.user-management-tab a {
	font-size: 14pt;
	color: #6a6a6a !important;
	border-bottom: 1px solid #e0e0e0;
	margin: 5px 0;
}

.user-management-tab a:hover {
	color: #0d6efd;
}

.user-management-tab a.active {
	background-color: #ffffff;
	color: #000000 !important;
	background-color: #aaedc6;
	font-weight: 700;
	border-radius: 5px;
	background: rgb(255, 255, 255);
}

.user-management-form {
	padding: 10px;
}

.user-management-form-section {
	margin-bottom: 20px;
}

.user-management-form-section-contents {
	padding: 5px;
	box-sizing: border-box;
}

.user-management-form h4 {
	margin-bottom: 10px;
	padding-left: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #0d6efd;
	box-sizing: border-box;
	width: 90%;
	font-weight: 600;
}

.user-management-form label {
	font-weight: 600;
	background-color: #fff;
	margin-left: 10px;
	padding: 0 4px;
}

.user-management-form input[type="text"] {
	padding-top: 20px;
	border-radius: 15px;
}

.user-management-form select {
	padding: 10px;
	border-radius: 15px;
	font-weight: 600;
	color: rgb(100, 97, 94);
}

.user-management-form .col-6,
.user-management-form .col-4,
.user-management-form .col-8,
.user-management-form .col-12 {
	padding: 10px;
}

.user-management-form .form-control:focus {
	box-shadow: none;
	border-width: 2px;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  font-size: 11px;
  margin-top:-50px;
  opacity: 1;
  color: #0d6efd;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  margin-top: -40px;
  margin-left: 15px;
  font-weight: 600;
  color: rgb(100, 97, 94);
}

.accounts-table {
	width: 100%;
	border-color: #ffffff !important;
	border-collapse: separate;
}


.accounts-table .nm{
	width: 30%;
}

.accounts-table .ds{
	width: 25%;
}

.accounts-table .ps{
	width: 20%;
}

.accounts-table .mn{
	width: 25%;
}

.accounts-table thead {
	border-bottom: 0;
}

.accounts-table th.mn {
	border-top-right-radius: 10px !important;
}

.accounts-table th.ai {
	border-top-left-radius: 10px !important;
}

.accounts-table .pth {
	background-color: #b8dcff !important;
	color: #000000 !important;
	text-align: center;
	padding: 10px !important;
	font-weight:700;
	font-size:medium;
	border-width: 0 !important;
	border-color: #ffffff;
	border-width: 1px !important;
}


.accounts-table .add:focus {
	box-shadow: 0;
}

.accounts-table .edit {
	background-color: #84b9c1 !important;
	color: #2c344a !important;
	border: 2px solid #84b9c1 !important;
}

.accounts-table .delete {
	background-color: #e9a3a3 !important;
	color: #771616 !important;
	border: 2px solid #e9a3a3 !important;
}

.accounts-table .deactivate {
	background-color: #e9c4a3 !important;
	color: #773e16 !important;
	border: 2px solid #e9c4a3 !important;
}

.accounts-table .delete:hover {
	background-color: #771616 !important;
	color: #e9a3a3 !important;
	border: 2px solid #771616 !important;
}

.accounts-table .deactivate:hover {
	background-color: #771616 !important;
	color: #e9a3a3 !important;
	border: 2px solid #771616 !important;
}

.accounts-table .edit:hover {
	background-color: #2c344a !important;
	color: #84b9c1 !important;
	border: 2px solid #2c344a !important;
}

#login-page {
	width: 100vw;
	height: 100vh;
}

#login-page .contents {
	position: absolute;
	font-size: 18pt;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background: linear-gradient(30deg, rgba(242,247,255,1) -300%, rgba(255,255,255,1) 100%);
	border-radius: 20px;
	border: 1px solid #8400ff25;
	box-shadow: 0 4px 5px 1px #1e05ff36;
	text-align: center;
	border-top: 20px solid #0d6efd !important;
}

#login-page h1 {
	font-size: 2.5em;
	font-weight: 600;
}

#login-page small {
	font-size: 0.6em;
	color:#8f8f8f;
	letter-spacing: 0.1em;
}

#login-page #add-border {
	padding: 25px !important;
	width: 100%;
	height: 100%;
	border-top: 10px solid #c2daff !important;
	border-bottom: 10px solid #86b6ff !important;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#login-page .module-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#login-page .google-button {
	display: inline-block !important;
	text-align: center;
	box-shadow: none !important;
	border-radius: 10px !important;
	border: 1px solid #0d6efd !important;
	padding: 2px;
	height: auto !important;
	box-sizing: border-box;
}

#login-page .google-button:hover {
	box-shadow: 0 4px 5px 1px #a39beab7 !important;
	border-width: 2px !important;
	transition: all 0.1s ease 0.2s;
}

#login-page .google-button:hover span {
	color: #000000 !important;
}

#brand-image-container {
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: -100px;
	margin-left: -50px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px;
	border-radius: 50%;
	box-shadow: 0 4px 5px 1px #a39bea70 !important;
	border: 5px solid #0d99fd !important;
}

#brand-image {
	width: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#brand {
	width: 100%;
	display: inline-block;
}

#errormessage {
	position: absolute;
	display: none;
	padding: 5px 7px;
	padding-top: -10px;
	background-color: rgb(255, 249, 249);
	border: 1px solid #cd4a4a79;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.073);
	height: fit-content;
	margin-left: 10px;
	z-index: 999;
	color: #cd4a4a;
	font-size: 9pt;
	font-weight: 600;
}

#banner-container {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

#banner {
	background: linear-gradient(0deg, #f4fff2 0%, #ffffff 50%,#ffffff 100%);
	padding: 15px 75px;
	display: inline-block;
	padding-bottom: 0;
	width: 100%;
}

.f-cursive {
	font-family: 'Pacifico', cursive;
}

#banner h1 {
	display: inline-block;
	color: #80b200 !important;
	margin-right: 10px;
	height: fit-content;
}

#banner-left {
	display: inline-block;
	width: 30%;
	font-size: 16pt;
	vertical-align: middle;
}

#banner-right {
	display: inline-block;
	width: 70%;
	font-size: 13pt;
	vertical-align: middle;
}

#banner-right span {
	width: 100%;
}

#banner-footer .hide {
	background-color: rgba(255, 255, 255, 0.175);
	border: none;
	padding: 0 a!important;
}

#banner .carret {
	margin: 0 !important;
}

#banner-footer {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 0 15px;
	box-shadow: 0 5px 8px 4px #cef29538;
	border-bottom: 5px double#20d400;
	background: #f4fff2;
	background: #f4fff2;
}

#submit-message {
	padding: 5px 7px;
	background-color: rgb(255, 249, 249);
	border: 1px solid #cd4a4a79;
	color: #cd4a4a;
	font-weight: 600;
	text-align: center;
	border-radius: 1
}

#user-table {
	padding: 15px 30px !important;
	font-size: 13pt;
}

#user-table .table-bordered > :not(caption) > *,
#user-table tr {
	border: 5px solid #fff !important;
}



#user-table td {
	padding: 10px 15px;
}

#user-table .header {
	background-color: #cfebff;
}

#user-table .header.business {
	background-color: #b2f2d1;
}

#user-table .content {
	background-color: #ccdee31f;
}


/*https://www.w3schools.com/howto/howto_css_switch.asp*/
 /* The horizontal-switch - the box around the horizontal-slider */
 .horizontal-switch {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .horizontal-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The horizontal-slider */
  .horizontal-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .horizontal-switch input + .horizontal-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: -5px 0 5px 1px #00000045;
  }

  .horizontal-switch input:checked + .horizontal-slider:before {
	left: 54px !important;
  }

  .horizontal-switch h6 {
	padding: 0;
	margin: 0;
	line-height: 0 !important;
	font-size: 0.85em;
	position: absolute;
	z-index: 999 !important;
	left: 40px;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: 600;
	word-wrap: normal;
  }

  .horizontal-switch.unchecked h6 {
	left: 65px !important;
  }

  .horizontal-switch.new .horizontal-slider {
	background-color: #00ff22;
  }

  .horizontal-switch.new h6 {
	left: 50px;
  }

  .horizontal-switch.na .horizontal-slider {
	background-color: #ffdd00;
  }

  .horizontal-switch.na h6 {
	left: 50px;
  }

  
  .horizontal-switch input:checked + .horizontal-slider {
	background-color: #2196F3;
  }
  
  .horizontal-switch input:focus + .horizontal-slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  .horizontal-switch input:checked + .horizontal-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .horizontal-slider.round {
	border-radius: 34px;
  }
  
  .horizontal-slider.round:before {
	border-radius: 50%;
  } 

  /*https://www.w3schools.com/howto/howto_css_switch.asp*/
 /* The vertical-switch - the box around the vertical-slider */
 .vertical-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .vertical-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The vertical-slider */
  .vertical-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 1s;
	transition: 1s;
  }

  .vertical-switch.no-click .vertical-slider {
	background-color: #969696;
  }
  
  .vertical-switch input + .vertical-slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	top: 1px;
	background-color: white;
	-webkit-transition: 1s;
	transition: 0.25s;
  }

  .vertical-switch.no-click input + .vertical-slider:before {
	background-color: rgb(224, 224, 224);
  }

  .vertical-switch input:checked + .vertical-slider:before {
	left: 70%;
  }

  .vertical-switch h6 {
	padding: 0;
	margin: 0;
	line-height: 0 !important;
	font-size: 0.85em;
	position: absolute;
	z-index: 999 !important;
	left: 40px;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: 600;
	word-wrap: normal;
  }

  .vertical-switch.new .vertical-slider {
	background-color: #00ff22;
  }

  .vertical-switch.new h6 {
	left: 50px;
  }

  .vertical-switch.na .vertical-slider {
	background-color: #ffdd00;
  }

  .vertical-switch.na h6 {
	left: 50px;
  }

  
  .vertical-switch input:checked + .vertical-slider {
	background-color: #2196F3;
  }
  
  .vertical-switch input:focus + .vertical-slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  
  /* Rounded sliders */
  .vertical-slider.round {
	border-radius: 34px;
  }
  
  .vertical-slider.round:before {
	border-radius: 50%;
  } 


  #warehouse-list-bar {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
  }

  #warehouse-list-bar-footer {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: .75em;
	box-shadow: 0 8px 8px 4px #a3f29567;
	background-color: #fff;
	border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -2px;
	border-bottom: 1px solid #0000002a;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
	box-sizing: border-box;
	border: 1px solid #0000002a;
	border-top-width: 0;
}

#warehouse-list-bar-footer .hide {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	padding: 0 a!important;
}

.warehouse-list-bar-hidden {
	border-radius: 25px !important;
	border-top-width: 1px !important;
}
/* https://www.w3schools.com/howto/howto_js_tabs.asp */

 /* Style the tab */
 .tab {
	overflow: hidden;
	background-color: #ffffff;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	box-sizing: border-box;
	border-bottom: 2px solid #ffffff;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
	background: linear-gradient(0deg, #b9e8ef 0%, #f2f7ff 100%);
	border-color: #b9e8ef;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background: rgb(242,247,255);
	background: linear-gradient(0deg, rgba(242,247,255,1) 0%, rgba(255,255,255,1) 100%);
	border-color: #2196F3;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 15px 20px;
	border: 2px solid #2195f32e;
	border-radius: 5px;
	animation: fadeEffect 1s;
  }

  .blue-strip {
	background-color: #e9f6ff;
	color: #000000;
	border: 1px solid #99c3e6;
}

.tablinks-init-style {
	border: 3px solid #2196F3 !important;
	border-radius: 5px !important;
	margin-right: 10px;
}

.prev-box-row {
	margin: 0;
	padding: 0;
	height:fit-content;
	line-height: 0 !important;
}

.prev-box-col {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #a3daff;
	margin: 0;
}

.box-row a {
	text-decoration: none;
}

.box-row a:hover {
	background: linear-gradient(0deg, #d1e3ff80 0%, #ffffff80 100%);
}

.box-call-to-action {
	display: none;
	position: absolute;
	z-index: 999;
	margin-left: -150px;
}

.box-call-to-action-button{
	display: block;
	padding: 20px;
	background-color: #fff;
	background: linear-gradient(0deg, #5881c2 0%, #d1e3ff 100%);
	color: #ebf7ff;
	border: 1px solid #d1e3fff7;
	border-radius: 5px;
	box-shadow: 0 2px 3px 1px #0000002c;
	width: 180px;
}

.box-call-to-action-button:hover {
	background: linear-gradient(0deg, #243d64f7 0%, #5880c2f7 100%);
	color: white;
	font-weight: 600;
}

.box.storage .box-call-to-action-button {
	background: linear-gradient(0deg,  #987838 0%, #d9b88f 100%);
	color: white;
}

.box.storage .box-call-to-action-button:hover {
	background: linear-gradient(0deg,  #564014 0%, #98754a 100%);
	z-index: 100;
}

.box-row a:hover .box-call-to-action {
	display:inline-block;
}

.box-row a:hover .cell-id {
	color: #000;
}

.box-row a:hover .box-col {
	border: 5px solid #335d79;
	margin-top: -25px;
}

.box-row {
	margin: 0;
	padding: 0;
	height:fit-content;
	line-height: 0 !important;
}

.box-col {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 3px dotted #81ccff;
	margin: 0;
	padding: 5px;
	background-size: contain;
}

.box.storage .box-col {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 10px;
	border: 5px solid #ffffff;
	border-radius: 10px;
	background: linear-gradient(120deg, #faf3e9 0%, #e3cda7 100%);
}

.storage {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fpalet.png?alt=media&token=3eecfb07-5d48-4d76-965f-f863e35b5d22");
	background-size: contain;
	display: inline-block;
	width: 100%;
	height: 100%;
}


.storage.palet {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fpalet.png?alt=media&token=3eecfb07-5d48-4d76-965f-f863e35b5d22");
}

.storage.shelf {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fshelf.png?alt=media&token=040cfeb0-9615-4cba-bd8f-ca47542e1d78");
}


.storage.freezer {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Ffreezer.png?alt=media&token=12721389-3fa1-4fc0-b8fa-d657a0baecc1");
}

.flip-top {
	transform: rotate(0deg);
}

.flip-right {
	transform: rotate(90deg);
}

.flip-right .cell-info{
	transform: rotate(-90deg);
}

.flip-left {
	transform: rotate(270deg);
}

.flip-left .cell-info{
	transform: rotate(-270deg);
}

.flip-bottom {
	transform: rotate(180deg);
}

.flip-bottom .cell-info{
	transform: rotate(-180deg);
}

.cell-info {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cell-id {
	font-size: 2em;
	position: relative;
	z-index: 90;
	right: 10px;
	top: 10%;
	right: -70%;
	color: #00000074;
	font-weight: 900;
}

#map-preview {
	margin: 0 auto;
	line-height: 0 !important;
}



  .color {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(159, 159, 159);
	border-radius: 10px;
	
	background-size: contain;
  }

  .color:hover {
	margin-top: -5px;
  }

  .hey {
	color: #ffc2c2;
	color: #faffaf;
	color: #beffc1;
	color: #b0e4ff;
	color: #ffffff;
	color: #ffe4c9;
	color: #646464;
	color: #ffc2e2;
	color: #d6a7ff;
  }

  .qr-code {
	padding: .5em;
	background-color: #fff;
	width: fit-content;
  }



  .color-changer {
	display: inline-block;
	position: relative;
	background-color: white;
	padding: 7px 15px;
	border-radius: 25px;
	border: 1px solid #0000002a;
	box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
	width: fit-content !important;
  }

  .color-changer button {
	margin-right: 5px;
  }

  .box-ca-container {
	display: inline-block;
	position: absolute;
  }

  .storage-options button[value=context] {
	width: 100px;
	margin-right: 10px;
	font-weight: 600;
	background: linear-gradient(0deg, #f0f0f0f7 0%, rgb(255, 255, 255) 100%);
	color: #000;
}

.storage-options button[value=context-sm] {
	width: 70px;
	margin-right: 10px;
	font-weight: 600;
	background: linear-gradient(0deg, #f0f0f0f7 0%, rgb(255, 255, 255) 100%);
	color: #000;
}

.storage-options button[value=delete] {
	background: linear-gradient(0deg, #ffb5b5f7 0%, #ffeded 100%);
	color: #5d0000f7;
}

.storage-options button[value=delete]:hover {
	background: linear-gradient(0deg, #c85555f7 0%, #ffb5b5f7 100%);
	color: #fffffff7;
}

.storage-options button {
	margin-right: 5px;
	width: 80px;
}

.with-icon {
	padding: 10px;
	width: 40px !important;
}

.box-call-to-action-button.with-icon div {
	width: 20px;
	height: 20px;
	background-size: contain;
}

.color-swatch.map-creation button {
	border-radius: 0;
	margin-right: 6px;
}

.static-button {
	padding: .1rem .4rem;
	border-color: #000 !important;
	color: #000 !important;
}

.modal-backdrop.show {
	opacity: .5 !important;
	background-color: rgb(211, 211, 211);
  }

.IMS-modal .modal-content{
	border-radius: 25px !important;
	border: none;
	box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.026)
}

.IMS-modal .modal-footer {
	background-color: #aabbdb;
	border-bottom-left-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
	padding: .5rem;
}

.IMS-modal h3 {
	color: #0d6efd;
	font-weight: bolder;
}

.IMS-modal .foreground {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #fff;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fforeground.jpg?alt=media&token=62e2f072-4844-4150-a395-07fa32897819");
	z-index: 998;
}
.IMS-modal .btn-danger:hover {
	background-color: #6d000b;
	border: 1px solid #6d000b;
}

.IMS-modal .btn-light {
	background-color: #ecf3ff;
	border: 1px solid #ecf3ff;
}

.IMS-modal .btn-light:hover {
	background-color: #6686bd;
	border: 1px solid #8daadb;
	color: white;
}

.IMS-modal label {
	margin-bottom: 0.4rem !important;
	margin-left: -0.5rem !important;
}

.IMS-modal hr {
	margin-top: 0.75rem !important;
	margin-bottom: 0.75rem !important;
}


.IMS-modal input:focus {
	outline: 2px solid #0d6efd;
}

.IMS-modal select:focus {
	outline: 2px solid #0d6efd;
}

.left-curve-none {
	border-top-left-radius: 0 !important;
}

.right-curve-none {
	border-top-right-radius: 0 !important;
}

.left-full-curve-none {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.right-full-curve-none {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.tooltip-icon {
	cursor: pointer;
}

.item-adding-container {
	background-color: #f3f5f8;
	border-radius: 10px;
	border: 1px solid #e0e0e0;
}

.m-5px {
	display: inline-block;
	margin-top: -5px;
}

#IMS-tips-outer-container {
	display: inline-block;
	background: #ffffff;
	padding: 0.25em;
	color: #000 !important;
}

#IMS-tips-inner-container {
	display: inline-block;
	border-radius: 5px;
	background: #ffffff;
}

#IMS-tips-inner-visibility-toggler {
}

#IMS-tips-inner-visibility-toggler button,
#IMS-tips-inner-container button {
	border: none;
	background-color: rgba(255, 255, 255, 0);
}
.modal-open {transition:all 150ms ease-in-out}

#product-category-suggestions {
	display: inline-block;
	position: relative;
	width: 100%;
}

#product-category-suggestions div {
	display: none;
	position: absolute;
	width: 100%;
	padding: 0.5em;
	background-color: #fff;
	outline: 2px solid #0d6efd;
	border-top: 0;
}

#product-category:focus-within #product-category-suggestions div {
	display: inline-block;
	transition: 0.5s;
}

#product-category:focus-within #product-category-suggestions button {
	background: none;
	border: none;
	width: 100%;
	text-align: left;
}

#product-category:focus-within #product-category-suggestions button:hover{
	background: #0d6efd;
	color: white;
}

#product-category:focus-within #product-category-input {
	border-bottom: 0;
}


.sidebar-visibility-toggler {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 0 !important;
	min-width: 0 !important;
	max-width: 0 !important;
}

.sidebar-visibility-toggler div {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 50px;
}

.product-selected .card{
	border: 1px solid red !important;
}

#product-adding-stage {
	width: 100%;
	background-color: #fff;
	min-height: 350px !important;
}

.product-adding-stage-header {
	text-align: center;
	padding: 0.5em 0;
	font-size: 1.3em;
	font-weight: bolder;
	background-color: rgb(9, 255, 0);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #fff;
	height: 15%;
}

.product-adding-stage-tip {
	text-align: center;
	font-size: 0.92em;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.50);
}

.products-container {
	background-color: rgb(247, 247, 247);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 1em;
	box-shadow: 0 0px 5px 1px #9e9e9e71 inset;
	height: 85%;
}

.products-container .card {
	border: 3px solid rgba(255, 255, 255, 0);
	border-radius: 12px;
	box-shadow: 0 4px 5px 1px #0000001b;
}

.products-container .card .specification {
	color: rgba(0, 0, 0, 0.5);
}

.products-container .card:hover {
	box-shadow: 0 4px 5px 1px #005eff65;
	background-color: #fcfdff;
}

.product-adding-stage-active.instorage .product-adding-stage-header {
	background-color: rgb(0, 132, 255);
}


.product-adding-stage-active.instorage .card {
	border-left-color: rgb(0, 132, 255);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.product-adding-stage-active.instorage .card:hover {
	background-color: #fffcfc;
	box-shadow: 0 4px 5px 1px #ff000065;
	border-left-color: rgb(255, 0, 0);
}

.product-adding-stage-active.instorage .card:hover strong {
	
}

.product-adding-stage-active .row {
	margin: 0 auto !important;
}

.product-inselection {
	width: 100% !important;
	font-size: 12pt;
	border: 0;
	background: none;
}

.product-inselection .card {
	padding: 0.25em;
}

.product-inselection .card-body {
	padding: 0.25em 0.4em;
	text-align:left;
	width: 100% !important;
}

.product-inselection .code {
	font-size: .9em;
}

.product-inselection .qty {
	font-size: .8em;
}

.product-inselection .card-body p{
	margin-bottom: 0;
}

.pattern-none {
	background-color: #fff;
}

.pattern-smooth-concrete {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fsmooth_conrete.jpg?alt=media&token=0773acac-c048-4f33-8f39-47fd644330d6");
}

.pattern-rough-concrete {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Frough_concrete.jpg?alt=media&token=3cce02b1-a2fd-49cc-8011-507f6ea3c352");
}

.pattern-dark-wood {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fdark_wood.jpg?alt=media&token=d3385145-b7ac-4845-a06c-e51012d56226");
}

.pattern-light-wood {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Flight_wood.jpg?alt=media&token=307a303c-1698-4c92-ad96-def38752042e");
}

.pattern-white-tile {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fwhite_tile.jpg?alt=media&token=09c77e80-ba5c-44c8-a056-e169a449100d");
}

.pattern-cobblestone {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fbrick.jpg?alt=media&token=403814c0-b98b-4c8f-89f9-f23720905649");
}

.product-list {
		display: inline-block;
		position: relative;
		background-color: white;
		padding: 0.5em 1.5em;
		border-radius: 10px;
		border: 1px solid #0000002a;
		box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.152);
		min-width: 250px;
		color: #000;
		min-height: 50px;
		max-width: 500px;
		width: 520px;
		height: auto;
}

.blue-circle {
	background-color: #0d6efd;
	border-radius: 50%;
	color: #fff;
	display:inline-block;
	padding: 0.1em;
	width: 1.5em;
	height: 1.5em;
}
/*style={{background-image: url(" + Background + ")'}}
https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fdark_wood.jpg?alt=media&token=d3385145-b7ac-4845-a06c-e51012d56226
  <button className="color-swatch"
                style={{background-image: url("https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fsmooth_conrete.jpg?alt=media&token=0773acac-c048-4f33-8f39-47fd644330d6")'}}
                onClick={()=>changeColor('https://firebasestorage.googleapis.com/v0/b/inventoryapp-330808.appspot.com/o/system%2Fcell_patterns%2Fsmooth_conrete.jpg?alt=media&token=0773acac-c048-4f33-8f39-47fd644330d6')}></button>
				*/